@use '_variables' as *;

.dropDown {
    padding-top: 2rem;
}

#engineLabel {
    display: block;
    padding: 15px 0;
    font-size: 1.1rem;
    font-weight: bold;
}

select {
    font-size: 1.1rem;
    padding: 3px;
    margin-left: 6px;
}

option:hover {
    filter: grayscale(1);
}