@use '_variables' as *;

.header {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: $mediumGreen;
   
    img {
        width: 45px;
        height: 45px;
    }

    h1 {
        text-align: center;
        font-family: 'Fredoka One', cursive;
        font-size: 3.75rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

