@use '_variables' as *;

.header {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    background-color: $mediumGreen;
    width: 100%;
    height: 100px;
}

h1 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 3.75rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}