@use '_variables' as *;

.header {
    position: fixed;
    top: 0;
    z-index: 5;
    display: block;
    background-color: $mediumGreen;
    width: 100%;

}

h1 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 3.75rem;
    margin-block-start: 0.6rem;
}