@use '_variables' as *;

.heart {
    position: absolute;
    right: 1rem;
}

.fav {
    fill: $darkGreen;
    filter: drop-shadow(0.125rem 0.125rem 0.125rem darkgrey);
    
    &:hover {
        transform: scale(1.1);
    }
}

.notFav {
    fill: darkgrey;
    filter: drop-shadow(0.125rem 0.125rem 0.125rem darkgrey);

    &:hover {
        transform: scale(1.1);
    }
}