@use '_variables' as *;

.fav {
    fill: $darkGreen;
    filter: drop-shadow(0.125rem 0.125rem 0.125rem darkgrey)
}

.notFav {
    fill: darkgrey;
    filter: drop-shadow(0.125rem 0.125rem 0.125rem darkgrey)
}