@use '_variables' as *;


//favorite is green
//not favorite is grey
//hover is outline (color remains the same


.fav {
    fill: $darkGreen;
    filter: drop-shadow(2px 2px 2px darkgrey)
}

.notFav {
    fill: darkgrey;
    filter: drop-shadow(2px 2px 2px darkgrey)
}