@use '_variables' as *;

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-display: swap;
    background-color: $mediumGreen;
    font-display: swap;
}

.page-container {
   position: relative;
   min-height: 100vh; 
}
.content-wrap {
    margin: 0 1.5rem;
    padding: 6.25rem 0 3.125rem;
}

.main-content {
    margin: 0 auto;
    max-width: 31.25rem;
    width: 100%;
}

p {
    margin-block-start: 0.5rem;
}


// Skip to Content styling: https://css-tricks.com/how-to-create-a-skip-to-content-link/
.skip-to-content-link {
    background: #e77e23;
    color: black;
    height: 1.875rem;
    left: calc(50% - 4.0625rem);
    padding: 0.625rem;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip-to-content-link:focus {
    transform: translateY(0%);
    z-index: 50;
}