@use '_variables' as *;

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $mediumGreen;
}

.page-container {
   position: relative;
   min-height: 100vh; 
}
.content-wrap {
    margin: 0 1rem;
    padding: 6.25rem 0 3.125rem;
}

.main-content {
    margin: 0 auto;
    max-width: 31.25rem;
    width: 100%;
}

p {
    margin-block-start: 0.5rem;
}

