@use '_variables' as *;
@use '_mixins' as *;

.content {
    outline: 6px solid $extraDarkGreen;
    border: 3px solid $darkGreen;
    position: 'absolute';
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin: 1.2rem;
    filter: drop-shadow(2px 2px 3px darkgrey);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: 10;
}


#close {
    @include green-button;
}


