.favorites {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
}
    
.none {
    padding-top: 3rem;
    font-size: 1.3rem;
    
    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active {
        color: black;
    }
    
}