.favorites {
    margin: 0 auto;
    width: 100%;
    max-width: 93.75rem;

    h2 {
        text-align: center;
    }
}
    
.none {
    padding: 3rem 1rem 0;
    font-size: 1.2rem;
    
    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active {
        color: black;
    }
    
}