@use '_variables' as *;
@use '_mixins' as *;

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.25rem;
    margin: 2rem 1rem;
    max-width: 32.1875rem;
    outline: none;
    border: 0.1875rem solid $darkGreen;
    border-radius: 0.25rem;
    background: #fff;
    overflow: auto;
    filter: drop-shadow(0.125rem 0.125rem 0.1875rem darkgrey);
    position: relative;
    top: 3.125rem;

    @media(min-width: 37.5rem ) {
        margin: 2rem auto;
    }

    h2 {
        width: 100%;
    }

    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active {
        color: black;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: 20;
}


#select {
    @include green-button;
}

#settings {
    @include translucent-button;
}
