@use 'styles/_variables' as *;
@use 'styles/_mixins' as *;

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $mediumGreen;
}

.page-container {
   position: relative;
   min-height: 100vh;
    border: 1px solid red;
   
  
}
#content-wrap {
    margin: 110px 1rem 0;

  //border: 1px solid blue;
}

p {
    margin-block-start: 0.5rem;
}

.intro {
    text-align: left;
}

.titleSettings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    h2 {
        display: block;
        width: 200px;
        margin-block-start: 0.5rem;
        margin-block-end: 0.25rem;
    }    
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textShuffle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// textarea {
//     resize: vertical;
//     display: block;
//     width: 200px;
//     max-width: 200px;
   
// }

#textBox {
    width: 225px;
    padding: 5px;
    font-size: 1.2rem;
    border: 1px solid $darktext;
    border-radius: 3px;
}

#submit {
    @include green-button;
    
}

#shuffle {
    @include translucent-button;
}