@use 'styles/_variables' as *;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $mediumGreen;
}

.page-container {
  position: relative;
  min-height: 100vh;
  //border: 1px solid red;
  
}
.content-wrap {
  margin: 0 auto 4.6875rem;
  padding-bottom: 4.6875rem ;
  
}

h1 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 3.75rem;
}

form {
  text-align: center;
}

label {
    display: block;
    line-height: 1.5;
    filter: grayscale(1); //changes the radio button dot to gray, instead of the default blue
}

#radioPrompt {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 15px 0 5px;
}

#textBox {
    width: 275px;
    padding: 5px;
    font-size: 1.3rem;
    border: 1px solid $darktext;
    border-radius: 3px;
}

/* Buttons styles start */
// https://css-tricks.com/overriding-default-button-styles/
#submit {
  display: block;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  line-height: 1;
  border: none;
  border-radius: 5px;
  background-color: $extraDarkGreen;
  filter: drop-shadow(2px 2px 2px darkgrey);
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#submit:hover,
#submit:focus {
  background-color: $darkGreen;
  color: black;
}

#submit:active {
  transform: scale(0.97);
}
/* Button styles end */