@use 'styles/_variables' as *;
@use 'styles/_mixins' as *;

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $mediumGreen;
}

.page-container {
    position: relative;
    min-height: 100vh;
    border: 1px solid red;
   
  
}
#content-wrap {
    margin: 110px auto 0;

  //border: 1px solid blue;
}



p {
    margin-block-start: 0.5rem;
}

.intro,
.form {
    margin: 0 1rem;
    text-align: left;
}

.titleSetting {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h2 {
        display: block;
        width: 200px;
        margin-block-start: 0.5rem;
        margin-block-end: 0.25rem;
    }
}

.textShuffle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#textBox {
    width: 240px;
    padding: 5px;
    font-size: 1.2rem;
    border: 1px solid $darktext;
    border-radius: 3px;
}

.submitSettings {
    //border: 1px solid red;
    //could possibly get rid of this wrapping div now that settings has moved
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    @include green-button;
}

#shuffle {
    @include translucent-button;
}